In [1]:
from iertools.tb import *
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib.dates as mdates

In [2]:
# pip install git+https://github.com/AltamarMx/iertools.git

In [6]:
fecha1 = parse("2024-10-30")   #AÃ±o, mes , dia
fecha2 = fecha1 + pd.Timedelta("22D")

tmp= TB(config_file='config_encuesta.ini',device_name='Encuestas_Shiny')
parametros = ["clo","e","met","voto"]

encuesta = pd.concat([tmp.get_df(key=parametro,start_datetime=fecha1,end_datetime=fecha2) for parametro in parametros],axis=1)

["temperature","humidity","iluminance","sound","e","voto","met","clo"]

C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:120: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  datos = pd.read_json(telemetry.text, orient=None)
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:128: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df[key].iloc[i] = float(valor)
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:136: FutureWarning: 'H' is deprecated and will be removed in a future version. Please use 'h' instead of 'H'.
  df.index += pd.Timedelta('-6H')
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:120: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  datos = pd.read_json(telemetry.text, orient=None)
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:128: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df[key].iloc[i] = float(valor)
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:136: FutureWarning: 'H' is deprecated and will be removed in a future version. Please use 'h' instead of 'H'.
  df.index += pd.Timedelta('-6H')
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:120: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  datos = pd.read_json(telemetry.text, orient=None)
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:128: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df[key].iloc[i] = float(valor)
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:136: FutureWarning: 'H' is deprecated and will be removed in a future version. Please use 'h' instead of 'H'.
  df.index += pd.Timedelta('-6H')
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:120: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  datos = pd.read_json(telemetry.text, orient=None)
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:128: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df[key].iloc[i] = float(valor)
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:136: FutureWarning: 'H' is deprecated and will be removed in a future version. Please use 'h' instead of 'H'.
  df.index += pd.Timedelta('-6H')

In [7]:
encuesta

                          clo    e  met  voto
ts
2024-11-20 10:17:30.039  0.47  0.7  2.6   2.0
2024-11-20 10:16:49.015  0.58  0.7  1.1   0.6
2024-11-20 10:16:38.153  0.68  0.7  1.1   0.0
2024-11-20 10:16:33.507  0.75  0.7  1.0   0.0
2024-11-20 10:16:24.922  0.50  0.7  1.0  -1.2
...                       ...  ...  ...   ...
2024-10-30 10:04:18.802  0.68  0.7  1.0   0.0
2024-10-30 10:03:55.674  0.63  0.7  1.0   1.2
2024-10-30 10:03:42.595  0.60  0.7  1.1  -1.0
2024-10-30 10:02:58.127  0.97  0.7  1.0  -0.4
2024-10-29 18:13:38.636  0.00  0.7  1.7   3.0

[172 rows x 4 columns]

In [8]:
encuesta = encuesta.iloc[::-1]
encuesta

                          clo    e  met  voto
ts
2024-10-29 18:13:38.636  0.00  0.7  1.7   3.0
2024-10-30 10:02:58.127  0.97  0.7  1.0  -0.4
2024-10-30 10:03:42.595  0.60  0.7  1.1  -1.0
2024-10-30 10:03:55.674  0.63  0.7  1.0   1.2
2024-10-30 10:04:18.802  0.68  0.7  1.0   0.0
...                       ...  ...  ...   ...
2024-11-20 10:16:24.922  0.50  0.7  1.0  -1.2
2024-11-20 10:16:33.507  0.75  0.7  1.0   0.0
2024-11-20 10:16:38.153  0.68  0.7  1.1   0.0
2024-11-20 10:16:49.015  0.58  0.7  1.1   0.6
2024-11-20 10:17:30.039  0.47  0.7  2.6   2.0

[172 rows x 4 columns]

In [10]:
fecha1 = parse("30/10/2024 10:01", dayfirst=True)
fecha2 = parse("30/10/2024 10:06", dayfirst=True)

# Filtra el DataFrame por rango de fechas
encuesta_filtrada = encuesta.loc[fecha1:fecha2]
encuesta_filtrada

                          clo    e  met  voto
ts
2024-10-30 10:02:58.127  0.97  0.7  1.0  -0.4
2024-10-30 10:03:42.595  0.60  0.7  1.1  -1.0
2024-10-30 10:03:55.674  0.63  0.7  1.0   1.2
2024-10-30 10:04:18.802  0.68  0.7  1.0   0.0
2024-10-30 10:04:31.881  0.94  0.7  1.0   0.0
2024-10-30 10:04:51.519  0.74  0.7  1.0   0.4
2024-10-30 10:04:54.124  0.61  0.8  1.0   1.0
2024-10-30 10:05:06.197  0.64  0.7  1.0  -1.0
2024-10-30 10:05:06.484  0.86  0.7  1.0   0.4
2024-10-30 10:05:36.944  0.92  0.8  1.0   0.0